div#list {
    display: flex;
    margin: 27px 47px;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 30px;
}
#list a {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    text-decoration: none;
    color:#fff;
}
@media screen and (max-width: 550px) {
    div#list {
        margin: 0;
        font-size: 15px;
    }
}
